.block-tema .edit-tema-link{
	display: none;
}
.block-tema .edit-tema-link a{
	padding: 5px;
	float: left;
	color: #093D72;
}
.block-tema{
	margin: 0px 20px;
}
.block-tema h2 .tema-title{
	background: #336699;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 15px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
.block-tema h2 .tema-title a{
	text-decoration: none;
	color: #ffffff;
}
.block-tema .content{
	background: #dce4eb;
	border-bottom: 1px solid #b4c5d4;
	padding: 15px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius:  0px 0px 4px 4px;
}