.dataTables_wrapper {
	margin-top: 20px;
}

.data-table {
	width: 100%;
	font-size: 0.83333em;
}

.data-table th.sorting, .dataTables_paginate > div {
	cursor: pointer;
}

.data-table tr.odd {
	background-color: #DEEDF9;
}

.data-table tr.even td.sorting_1 {
	background-color: #B9D7F3;
}

.data-table tr.odd td.sorting_1 {
	background-color: #88BCEA;
}

.data-table tr td {
	padding: 2px;
}

.node-type-table .field-field-description {
	clear: both;
	margin-top: 20px;
	font-size: 0.83333em;
}

.node-type-table .field-field-description .field-items .field-item {
	padding: 0 0 15px 0;
	margin: 0;
}