.dataTables_wrapper {
	margin-top: 20px;
}

.data-table {
	width: 100%;
	font-size: 0.83333em;
}

.data-table table.sticky-header {
	font-size: 0.8333em;
}

.dataTables_info {
	font-size: 0.8333em;
	padding: 7px 0;
	width: auto;
}

.paging_full_numbers {
	font-size: 0.8333em;
	padding-top: 5px;
}

.paging_full_numbers span.paginate_button {
	background-color: #EEE;
	border: none;
}

.paging_full_numbers span.paginate_active {
	background-color: #88BCEA;
	border: none;
}

.data-table th.sorting, .dataTables_paginate > div {
	cursor: pointer;
}

.data-table tr.odd, .data-table tr.even {
	border: none;
}

.data-table tr.odd {
	background-color: #DEEDF9;
}

.data-table tr.even td.sorting_1 {
	background-color: #B9D7F3;
}

.data-table tr.odd td.sorting_1 {
	background-color: #88BCEA;
}

.data-table tr td {
	padding: 4px 3px;
}

.node-type-table .field-field-description {
	clear: both;
	margin-top: 5px;
	font-size: 0.83333em;
}

.node-type-table .field-field-description .field-items .field-item {
	padding: 0 0 15px 0;
	margin: 0;
}