body .featuredarticle .views-field-view-node .field-content a{
	width: 89px;
	
}
#block-views-jobs-block_1 {
	width: 175px;
	float: right;
}

.view-articles .views-field-view-node a{
	margin-right: 10px;
}
.totilfire .views-row{
	margin: 0px;
	width: 180px;
}
.totilfire .views-row.views-row-2{
	margin: 0px 15px;
}
#wrapper #toppann_right{
	padding-left: 1px;
}
.page-node .flex-direction-nav {
    display: block;
    margin-top: -32px;
}
.page-node .flexslider .flex-caption, .flexslider p{
  bottom: 33px;
}