.page-stillinger.sidebars #center, .page-stillinger #center{
	width: 760px;
}
.page-stillinger.sidebars #sidebar-left, .page-stillinger #sidebar-left{
	display: none;
	width: 0px;
}

.premiumstillingsblock h3{
	
}
.premiumstillingsblock .item-list ul li{
	float: left;
    margin: 0 3px 0 0;
    width: 135px;
    height: 100px;
    overflow: hidden;
}
.premiumstillingsblock .item-list ul li.views-row-last{
	margin-right: 0px;
}
.premiumstillingsblock .item-list ul li .views-field-title{
	font-size: 1em;
}
