body .featuredarticle .views-field-view-node .field-content a{
	width: 89px;
	
}
#block-views-jobs-block_1 {
	width: 175px;
	float: right;
}

.view-articles .views-field-view-node a{
	margin-right: 10px;
}
