#top-menu{
border-top: 7px solid #003762; /*780F2C*/
}

#wrapper > #logo-area{
background: #003762;
}

#nav ul.primary-links li a.active{
background: none repeat scroll 0 0 #780F2C;
}

#logo img{
padding: 1em;
}

#top-search-button {
    padding-right: 2em;
}
.featuredarticle .view-content{
	background: #dae2e7;
}
.featuredarticle .view-content .views-field-tid{
	background: #94021c;
	padding: 1px 0px 1px 10px;
}
.featuredarticle .view-content .views-field-tid a{
	color: #fff;
}
.featuredarticle h2 {
	font-size: 32px;
	padding-left: 10px;
}
.featuredarticle .views-field-field-teaser-value{
	padding-left: 10px;
	font-size: 18px;
	padding-bottom: 15px;
	font-weight: bold;
}
.featuredarticle .views-field-view-node{
	padding-left: 10px;
	padding-top: 10px;
}
.featuredarticle .views-field-view-node a{
	background: url("../images/spirite1.png") no-repeat scroll 0 0 transparent;
	width: 71px;
	height: 16px;
	padding:6px 4px 4px 12px;
	float: left;
}
.featuredarticle .views-field-view-node a:hover{
	text-decoration: none;
	color: #fff;
}
.featuredarticle .views-field-comment-count{
	background: url("../images/spirite1.png") no-repeat scroll -98px 0px transparent;
	float: left;
	padding: 6px 4px 4px 6px;
	height: 16px;
	width: 103px;
	margin-left: 15px;
}
.featuredarticle .views-field-comment-count .tall{
	color: #94021c;
}
.featuredarticle .views-field-comment-count a:hover{
	text-decoration: none;
	color: #fff;
}

.featuredarticle .views-field-field-main-image-data{
	float: right;
    margin-bottom: 10px;
    width: 250px;
}
.featuredarticle .feature_bilde{
	float: right;
	width: 250px;
	background: #989ea1;
	padding-bottom: 4px;
}
.featuredarticle .text{
	padding-left:5px;
	color: #fff;

}
