/* @override 
	http://www.kommunal-rapport.no/sites/default/themes/kr2011/css/kr2011-layout.css?4 */

#center-left-wrapper{
/*  border-right: 1px solid #BECCD3; */
  border-top: 10px solid #003663;
  background: transparent url('../images/border.gif');
  float: left;
}
#sidebar-left {
/*    border-right: 1px solid #BECCD3; */ 
    float: left;
    /*margin-left: 10px;*/
    padding-right: 9px;
    width: 180px;
    overflow: hidden;
}
body #wrapper #logo-area{
	background: url("../images/spirite1.png") repeat-x scroll 0px -126px transparent;
	height: 100px;
}
body div#nav{
	margin-bottom: 0px;
	height: 30px;
	/*background: url("../images/spirite1.png") repeat-x scroll 0px -96px transparent;*/
	overflow: hidden;
}

#nav ul.primary-links li.first{
	background: url("../images/spirite1.png") no-repeat scroll -26px -56px transparent;
    overflow: hidden;
    text-indent: -9999px;
    width: 37px;
}
body #nav ul.primary-links li a.active{
	background: transparent;
}
body div#nav ul.primary-links li.first-level.first a:hover, body div#nav ul.primary-links li.first-level.first a.active:hover{
	background: url("../images/spirite1.png") no-repeat scroll -26px -56px #393939;
	color: inherit;
	height: 90%;
	z-index: 999;
}
#nav ul.primary-links li{
	border-right: 1px solid #ffffff;
}
body #nav ul.primary-links li a:link,body #nav ul.primary-links li a:visited{
	font-family: helvetica,sans-serif;
	padding: 8px 12px;
	color: #48535b;
}

#header{
    padding-top:160px;
}
