#top-menu{
border-top: 7px solid #003762; /*780F2C*/
}

#wrapper > #logo-area{
background: #003762;
}

#nav ul.primary-links li a.active{
background: none repeat scroll 0 0 #780F2C;
}

#logo img{
padding: 1em;
}

#top-search-button {
    padding-right: 2em;
}
 #draggableview_articles_1 h2{
	background: none;
	font-size: 14px;
	border: none;
	font-style: normal;
	margin: 0;
	padding: 0;
}

/* Override for OpenX ads */
#op-content .block-openx .content {
    margin-bottom: 0;
}

.block-openx a:link{
    color: gray;
    font-size: 0.9em;
}

.section-date-author {
    text-transform: none;
}
