#outer-wrapper .key-options .form-item {
	float: left;
	margin-right: 20px;
}

.barometer-table-wrapper {
	overflow-x: scroll;
}

.barometer-table {
	margin-top: 2em;
	width: 100%;
	font-size: 0.83333em;
}

.barometer-table td, .barometer-table th {
	padding: 0.2em 0.4em;
}

.barometer-table tr.odd, .barometer-table tr.even {
	background: none;
}

.barometer-table .rangering {
	color: grey;
}

#barometer-feature-key-form {
	margin: 1.5em 0;
}

#edit-main-keys-wrapper label {
	float: left;
	margin-right: 10px;
}

.remove-mlinks {
	margin: 1em 0;
}

.remove-mlinks .selected-main-key {
	background: #eee;
	border: 1px solid #ccc;
	padding: .5em;
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

.remove-mlinks .selected-main-key a.remove-mkey-link {
	color: gray;
	padding-left: .2em;
}

.jqplot-table-legend {
	padding: 4px !important;
}

.table-description {
	font-size: 0.83333em;
	text-align: right;
}